<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="io.groovybot.bot">
    <Properties>
        <property name="fileDate">${date:dd-MM-yyyy}</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] [%t - %tid] %c{36} » %msg%n"/>
            <JDAFilter/>
        </Console>
        <File name="LatestLog" fileName="logs/latest.log" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] [%t - %tid] %c{36} » %msg%n"/>
            <JDAFilter/>
        </File>
        <File name="Log">
            <FileName>logs/bot-${fileDate}.log</FileName>
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <JDAFilter/>
        </File>
        <Async name="Async">
            <AppenderRef ref="Log"/>
            <AppenderRef ref="LatestLog"/>
            <AppenderRef ref="WebhookAppender"/>
        </Async>
        <WebhookAppender name="WebhookAppender">
            <JDAFilter/>
        </WebhookAppender>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>