<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="io.groovybot.bot">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] (%d{HH:mm:ss}) [%t] %logger{36} | %msg%n" />
            <JDAFilter />
        </Console>
        <File name="LatestLog" fileName="latest.log" append="false">
            <PatternLayout pattern="[%-5level] (%d{HH:mm:ss}) [%t] %logger{36} | %msg%n" />
            <JDAFilter />
        </File>
        <RollingFile name="Log" fileName="logs/groovy-%d{MM-dd-yy}.log" filePattern="log/groovy-%d{MM-dd-yy}.log.gz">
            <PatternLayout pattern="[%-5level] (%d{HH:mm:ss}) [%t] %logger{36} | %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <JDAFilter />
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="Log"/>
            <AppenderRef ref="LatestLog"/>
            <AppenderRef ref="WebhookAppender" />
        </Async>
        <WebhookAppender name="WebhookAppender" >
            <JDAFilter />
        </WebhookAppender>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Async" />
        </Root>
    </Loggers>
</Configuration>